{% if isadmin %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/static/admin.css">
</head>
<body>
    
<table class="fixed_headers">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Username</th>
            <th>Status</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        {% for user in user_data %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.username }}</td>
            <td>{{ "Pagante" if user.status == True else "Non Pagante" }}</td>
            <td>{{ "Admin" if user.admin == True else "Regular" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>

{% endif %}
